window#waybar {
	background-color: transparent;
}

modules {
	margin: 3px
}

.modules-left {
	border-radius: 6px;
	margin: 5px;
	background-color: #f55b5b;
}

.modules-center {
	border-radius: 6px;
	margin: 5px;
	padding: 2px;
	background-color: white;
	color: black;
}

#pulseaudio {
	margin-left: 5px;
}

#cpu {
	margin-left: 5px;
	margin-right: 5px;
}

#battery {
	margin-left: 5px;
	margin-right: 5px;
}

#memory {
	margin-right: 5px;	
}

.modules-right { 
	border-radius: 6px;
	margin: 5px;
	background-color: #6169fa;
}
